@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

.footer-container {
    /* padding: 2rem; */
    
    text-align: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0);
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;

}

.footer-container-P {
    background-color: #3730A3;
    padding: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    .footer-container {
        
        margin: 0rem 0rem;
        
    
    }
    
    .footer-container-P{
       
        font-size: 0.5rem;
        padding:1rem;
        
    }

}