.img-data{
    display: flex;
    margin: 1rem 1rem;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}
.data-item{
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  align-items: center;
  height: auto;
}

.item-details{
  color:white
}